#btnHeader {
    display: none;
}

.btnLanding {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    position: fixed;
    right: 2.5vw;
    bottom: 15vh;
    z-index: 2;
}

.btnLanding #btnHeader2 {
    padding: 1.3vh 2vh;
    font-size: 1.58vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    width: max-content;
}
.btnLanding #btnHeader2:hover{
    background-color: var(--darkYellow);
}
#btnHeader2 img {
    height: 20px;
    margin-right: 10px;
    margin-top: 0px;
}
@media (min-width: 1200px) {
.btnLanding .icon-icon_cotizar:before {
        font-size: 14px;
        margin-right: 2px;
        margin-top: 0px;
    }

}

@media (orientation:portrait) {
    #btnHeader {
        display: block;
        padding: 1vh 0.3vh;
        font-size: 1.3vh;
        inline-size: 35vmin;
        position: fixed;
        left: 50%;
        top: 3vh;
        transform: translate(-50%, -50%);
        z-index: 2;
    } 
    .btnLanding{
        top: 100px;
        z-index: 1;
    }
    .btnLanding #btnHeader2 {
        padding: 8px;
        font-size: 3vh;
        margin-top: 1vh;
        line-height: 1;
    }
    .icoBlog img {
        height: 17px !important;
        margin-left: 3px;
    }
    
    .icoBlog {
        padding: 9px 6px !important;
    }
    #btnHeader2 img{
        margin-right: 0px;
    }
    #btnHeader2 .icon-icon_cotizar {
        font-size: 3vh;
        margin-top: -1vh;
        line-height: 1;
        padding: 0px 3px 2px;
    }
    .icon-icon_cotizar:before {
        font-size: 1.5vh;
        margin-left: 0;
    }
}   