#sectionFive {
    display: initial;
    margin: 0 auto;
    margin-top: 76px;
    background: var(--lightYellow);
}
#sectionFive .small {
    width: 80%;
    margin: 2vh 0vw 0vh;
}
#sectionFive article {
    background: url(../img/bg_five.jpg);
    background-position: right;
    background-size: 52.7%;
    background-repeat: no-repeat;
    margin-top: 0vh;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

#sectionFive .row {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

#sectionFive h2 {
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 9vh;
    line-height: .8;
    color: var(--lightYellow);
    margin: 0;
}
#sectionFive h2 span{
    color: var(--darkYellow);
}
#sectionFive .regularParagraphFive {
    color: var(--lightYellow);
    font-family: var(--baseFontTitles);
    inline-size: 45vh;
    font-size: 3.5vh;
    text-transform: uppercase;
    margin-block-start: 2vh;
    margin-block-end: 0vh;
}

#sectionFive .textSmall {
    inline-size: 22vw;
    font-size: 1.25vh;
    margin: 2vh 0vh;
    font-weight: bold;
    line-height: 1;
}

#sectionFive .footerSection {
    background-color: var(--lightYellow);
}

#sectionFive .footerSection p{
    color: var(--darkYellow);
}

@media (min-width: 1200px) {
    #sectionFive article{
        background-size: 50%;
    }
    #sectionFive .small {
        width: 60%;
        margin: 2vh 0vw 0vh;
        font-size: 1.5vh;
    }
}


@media (orientation:portrait) {
    .row {
        flex-direction: column-reverse;
    }

    .column {
        flex: none;
        width: 90%;
        margin: 0 auto;
    }
    #sectionFive{
        text-align:center;
    }
    #sectionFive article{
    margin-bottom: 7vh;
}
    #sectionFive article{
        background: none;
    }
    #sectionFive h2 span {
        font-size: 6vh;
        margin: 5vh 0vh 4vh;
    }
    img.imgLogoMobile {
        margin: 0 auto 4vh;
        height: 22vh;
    }
    #sectionFive h2{
        font-size: 6vh;
        margin-top: 2vh;
    }
    #sectionFive .textSmall {
        inline-size: 90vw;
        font-size: 1.75vh;
        margin: 2vh auto;
        font-weight: 400;
        line-height: 1;
    }

    #sectionFive .regularParagraphFive{
        margin-block-end: 0vh;
        inline-size: auto;
    }

    #sectionFive .footerSection{
        display: none;
    }
    #sectionFive .small {
        width: 85%;
        margin: 2vh auto 0vh;
        font-size: .65rem;
    }
    #sectionFive .footerSection{
        display: flex;
    }
    #sectionFive .column.contentWrapper {
    block-size: 840px;
}
}