#sectionTwo article {
    background-color: var(--darkYellow);
    padding-top: 0vh;
    margin-top: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

#headingTwoOfSectionTwo{
    display: flex;
    flex-direction: column;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 9vh;
    margin: 0;
    color: var(--darkCyan);
    line-height: 0.9;
}

.boldParagraph {
    font-family: var(--baseFontFamily);
    font-weight: bold;
    font-size: 2vh;
    margin: 0;
    margin-block-end: 2vh;
}
#sectionTwo .imgWrapper p{
text-align: center;
}

#sectionTwo .footerSection{
    background-color: var(--lightYellow);
    
}
#sectionTwo .footerSection p{
    color: var(--darkCyan);
}


/*---Page ES----*/
#pageEs .imgWrapper p{
    font-size: 0.75rem;
}



@media (min-width: 1200px) {
    .imgWrapper p {
        font-size: 1.5vh;
    }
}

@media (orientation:portrait) {
    #sectionTwo .row {
        flex-direction: column;
    }
    #sectionTwo article {
        padding-top: 5vh;
        height: auto;
        padding-bottom: 3vh;
    }
    
    #headingTwoOfSectionTwo{
     text-align: center;
    line-height: .9;
    font-size: 3rem;
    width: 100%;
    margin: 0 auto 2vh;
    }
    #sectionTwo .imageS img {
            block-size: 47vh;
        cursor: pointer;
        margin: 4vh auto 2vh;
    }
    #boldParagrahOfSectionTwo {
        text-align: center;
    }
    #boldParagrahOfSectionTwo br{
        display: none;
    }
    #sectionTwo .boldParagraph {
        font-family: var(--baseFontFamily);
        font-weight: bold;
        font-size: 1rem;
        line-height:1;
        width: 80%;
        margin: 0 auto 2rem;
    }
}