section {
    display: initial;
    margin: 0 auto;
    margin-top: 100px;
    background: var(--lightYellow);
    font-display: swap;
}

article {
    position: relative;
    height: 91vh;
    margin-top: 10vh;
    background: var(--lightYellow);
}

.row {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.headingOne-firstLine {
    color: var(--darkCyan);
    line-height: 0.69;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.headingOne-secondLine {
    color: var(--darkYellow);
    line-height: 0.9;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.veryImportantParagraph {
    font-family: var(--baseFontTitles);
    font-weight: 400;
    font-size: 4vh;
    margin: 0;
    margin-block-end: 2vh;
    inline-size: 50vh;
    line-height: .87;
}

.sectionOne-downloadLinks {
    display: flex;
    gap: 1vh;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background: var(--darkCyan);
    color: var(--lightYellow);
    border: 0.3vh solid var(--darkYellow);
    border-radius: 5vh;
    padding: 1.4vh 3vh;
    font-size: 2vh;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 0.3vh;
    font-family: var(--baseFontFamily);
}

.imgWrapper img {
    block-size: 60vh;
    cursor: pointer;
}
.imgWrapper p {
    inline-size: 36vh;
    font-size: 1.25vh;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

.footerSection {
    width: 100dvw;
    height: 10dvh;
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: var(--darkCyan);
    align-items: center;
    justify-content: center;
}

.footerSection p {
    color: var(--lightYellow);
    font-family: var(--baseFontTitles);
    font-size: 7vh;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1;
}

.column {
    flex: 1;
    width: 50vw;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin:0px;
}

.text-center {
    text-align: center;
}

#pageEs #sectionOne .veryImportantParagraph {
    width: 90%;
}

@media (orientation:portrait) {
    .row {
        flex-direction: column-reverse;
    }

    .column {
        flex: none;
        width: 100%;
    }
    .imgWrapper img {
        block-size: 30vh;
        cursor: pointer;
        margin: 4vh auto;
    }
    .headingOne {
        text-align: center;
    }
    .headingOne-firstLine,
    .headingOne-secondLine{
        font-size: 8vh;
    }
    .veryImportantParagraph{
        inline-size: 40vh;
        margin: 2vh auto;
        text-align: center;
    }
    .sectionOne-downloadLinks{
        width: 90%;
        margin: 0 auto;
    }
    .displayLandscape.small {
        text-align: center;
        margin: 2vh auto;
        width: 80%;
        line-height: 1;
        font-size: 1.75vh;
    }
}section {
    display: initial;
    margin: 0 auto;
    margin-top: 100px;
    background: var(--lightYellow);
}

article {
    position: relative;
    height: 91vh;
    margin-top: 10vh;
    background: var(--lightYellow);
}

.row {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.headingOne-firstLine {
    color: var(--darkCyan);
    line-height: 0.69;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.headingOne-secondLine {
    color: var(--darkYellow);
    line-height: 0.9;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.veryImportantParagraph {
    font-family: var(--baseFontTitles);
    font-weight: 400;
    font-size: 4vh;
    margin: 0;
    margin-block-end: 2vh;
    inline-size: 50vh;
    line-height: .87;
}

.sectionOne-downloadLinks {
    display: flex;
    gap: 1vh;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background: var(--darkCyan);
    color: var(--lightYellow);
    border: 0.3vh solid var(--darkYellow);
    border-radius: 5vh;
    padding: 1.4vh 3vh;
    font-size: 2vh;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 0.3vh;
    font-family: var(--baseFontFamily);
}

.imgWrapper img {
    block-size: 60vh;
    cursor: pointer;
}
.imgWrapper p {
    inline-size: 36vh;
    font-size: 1.25vh;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

.footerSection {
    width: 100dvw;
    height: 10dvh;
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: var(--darkCyan);
    align-items: center;
    justify-content: center;
}

.footerSection p {
    color: var(--lightYellow);
    font-family: var(--baseFontTitles);
    font-size: 7vh;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1;
}

.column {
    flex: 1;
    width: 50vw;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin:0px;
}

.text-center {
    text-align: center;
}

@media (orientation:portrait) {
    .row {
        flex-direction: column-reverse;
    }

    .column {
        flex: none;
        width: 100%;
    }
    .imgWrapper img {
        block-size: 30vh;
        cursor: pointer;
        margin: 4vh auto;
    }
    .headingOne {
        text-align: center;
    }
    .headingOne-firstLine,
    .headingOne-secondLine{
        font-size: 8vh;
    }
    .veryImportantParagraph{
        inline-size: 40vh;
        margin: 2vh auto;
        text-align: center;
    }
    .sectionOne-downloadLinks{
        width: 90%;
        margin: 0 auto;
    }
    .displayLandscape.small {
        text-align: center;
        margin: 2vh auto;
        width: 80%;
        line-height: 1;
        font-size: 1.75vh;
    }
}section {
    display: initial;
    margin: 0 auto;
    margin-top: 100px;
    background: var(--lightYellow);
}

article {
    position: relative;
    height: 91vh;
    margin-top: 10vh;
    background: var(--lightYellow);
}

.row {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.headingOne-firstLine {
    color: var(--darkCyan);
    line-height: 0.69;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.headingOne-secondLine {
    color: var(--darkYellow);
    line-height: 0.9;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.veryImportantParagraph {
    font-family: var(--baseFontTitles);
    font-weight: 400;
    font-size: 4vh;
    margin: 0;
    margin-block-end: 2vh;
    inline-size: 50vh;
    line-height: .87;
}

.sectionOne-downloadLinks {
    display: flex;
    gap: 1vh;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background: var(--darkCyan);
    color: var(--lightYellow);
    border: 0.3vh solid var(--darkYellow);
    border-radius: 5vh;
    padding: 1.4vh 3vh;
    font-size: 2vh;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 0.3vh;
    font-family: var(--baseFontFamily);
}

.imgWrapper img {
    block-size: 60vh;
    cursor: pointer;
}
.imgWrapper p {
    inline-size: 36vh;
    font-size: 1.25vh;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

.footerSection {
    width: 100dvw;
    height: 10dvh;
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: var(--darkCyan);
    align-items: center;
    justify-content: center;
}

.footerSection p {
    color: var(--lightYellow);
    font-family: var(--baseFontTitles);
    font-size: 7vh;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1;
}

.column {
    flex: 1;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin:0px;
}

.text-center {
    text-align: center;
}

@media (orientation:portrait) {
    section#sectionOne .container {
        height: inherit;
    }
    
    .row {
        flex-direction: column-reverse;
    }

    .column {
        flex: none;
        width: 100%;
    }
    .imgWrapper img {
        block-size: 30vh;
        cursor: pointer;
        margin: 4vh auto;
    }
    .headingOne {
        text-align: center;
    }
    .headingOne-firstLine,
    .headingOne-secondLine{
        font-size: 8vh;
    }
    .veryImportantParagraph{
        inline-size: 40vh;
        margin: 2vh auto;
        text-align: center;
    }
    .sectionOne-downloadLinks{
        width: 90%;
        margin: 0 auto;
    }
    .displayLandscape.small {
        text-align: center;
        margin: 2vh auto;
        width: 90%;
        line-height: 1.2;
        font-size: .75rem;
    }
}
section {
    display: initial;
    margin: 0 auto;
    margin-top: 100px;
    background: var(--lightYellow);
}

article {
    position: relative;
    height: 91vh;
    margin-top: 10vh;
    background: var(--lightYellow);
}

.row {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.headingOne-firstLine {
    color: var(--darkCyan);
    line-height: 0.69;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.headingOne-secondLine {
    color: var(--darkYellow);
    line-height: 0.9;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.veryImportantParagraph {
    font-family: var(--baseFontTitles);
    font-weight: 400;
    font-size: 4vh;
    margin: 0;
    margin-block-end: 2vh;
    inline-size: 50vh;
    line-height: .87;
}

.sectionOne-downloadLinks {
    display: flex;
    gap: 1vh;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background: var(--darkCyan);
    color: var(--lightYellow);
    border: 0.3vh solid var(--darkYellow);
    border-radius: 5vh;
    padding: 1.4vh 3vh;
    font-size: 2vh;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 0.3vh;
    font-family: var(--baseFontFamily);
}

.imgWrapper img {
    block-size: 60vh;
    cursor: pointer;
}
.imgWrapper p {
    inline-size: 36vh;
    font-size: 1.25vh;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

.footerSection {
    width: 100dvw;
    height: 10dvh;
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: var(--darkCyan);
    align-items: center;
    justify-content: center;
}

.footerSection p {
    color: var(--lightYellow);
    font-family: var(--baseFontTitles);
    font-size: 7vh;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1;
}

.column {
    flex: 1;
    width: 50vw;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin:0px;
}

.text-center {
    text-align: center;
}

@media (orientation:portrait) {
    .row {
        flex-direction: column-reverse;
    }

    .column {
        flex: none;
        width: 100%;
    }
    .imgWrapper img {
        block-size: 30vh;
        cursor: pointer;
        margin: 4vh auto;
    }
    .headingOne {
        text-align: center;
    }
    .headingOne-firstLine,
    .headingOne-secondLine{
        font-size: 8vh;
    }
    .veryImportantParagraph{
        inline-size: 40vh;
        margin: 2vh auto;
        text-align: center;
    }
    .sectionOne-downloadLinks{
        width: 90%;
        margin: 0 auto;
    }
    .displayLandscape.small {
        text-align: center;
        margin: 2vh auto;
        width: 80%;
        line-height: 1;
        font-size: 1.75vh;
    }
}section {
    display: initial;
    margin: 0 auto;
    margin-top: 100px;
    background: var(--lightYellow);
}

article {
    position: relative;
    height: 91vh;
    margin-top: 10vh;
    background: var(--lightYellow);
}

.row {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.headingOne-firstLine {
    color: var(--darkCyan);
    line-height: 0.69;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.headingOne-secondLine {
    color: var(--darkYellow);
    line-height: 0.9;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.veryImportantParagraph {
    font-family: var(--baseFontTitles);
    font-weight: 400;
    font-size: 4vh;
    margin: 0;
    margin-block-end: 2vh;
    inline-size: 50vh;
    line-height: .87;
}

.sectionOne-downloadLinks {
    display: flex;
    gap: 1vh;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background: var(--darkCyan);
    color: var(--lightYellow);
    border: 0.3vh solid var(--darkYellow);
    border-radius: 5vh;
    padding: 1.4vh 3vh;
    font-size: 2vh;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 0.3vh;
    font-family: var(--baseFontFamily);
}

.imgWrapper img {
    block-size: 60vh;
    cursor: pointer;
}
.imgWrapper p {
    inline-size: 36vh;
    font-size: 1.25vh;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

.footerSection {
    width: 100dvw;
    height: 10dvh;
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: var(--darkCyan);
    align-items: center;
    justify-content: center;
}

.footerSection p {
    color: var(--lightYellow);
    font-family: var(--baseFontTitles);
    font-size: 7vh;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1;
}

.column {
    flex: 1;
    width: 50vw;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin:0px;
}

.text-center {
    text-align: center;
}

@media (orientation:portrait) {
    .row {
        flex-direction: column-reverse;
    }

    .column {
        flex: none;
        width: 100%;
    }
    .imgWrapper img {
        block-size: 30vh;
        cursor: pointer;
        margin: 4vh auto;
    }
    .headingOne {
        text-align: center;
    }
    .headingOne-firstLine,
    .headingOne-secondLine{
        font-size: 8vh;
    }
    .veryImportantParagraph{
        inline-size: 40vh;
        margin: 2vh auto;
        text-align: center;
    }
    .sectionOne-downloadLinks{
        width: 90%;
        margin: 0 auto;
    }
    .displayLandscape.small {
           text-align: center;
        margin: 2vh auto;
        width: 85%;
        line-height: 1;
        font-size: .65rem;
    }
    .displayLandscape.small br{
        display: none;
    }
}section {
    display: initial;
    margin: 0 auto;
    margin-top: 100px;
    background: var(--lightYellow);
}

article {
    position: relative;
    height: 94vh;
    margin-top: 6vh;
    background: var(--lightYellow);
    overflow-x: hidden;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.headingOne-firstLine {
    color: var(--darkCyan);
    line-height: 0.69;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.headingOne-secondLine {
    color: var(--darkYellow);
    line-height: 0.9;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 16vh;
}
.veryImportantParagraph {
    font-family: var(--baseFontTitles);
    font-weight: 400;
    font-size: 4vh;
    margin: 0;
    margin-block-end: 2vh;
    inline-size: 50vh;
    line-height: .87;
}

.sectionOne-downloadLinks {
    display: flex;
    gap: 1vh;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background: var(--darkCyan);
    color: var(--lightYellow);
    border: 0.3vh solid var(--darkYellow);
    border-radius: 5vh;
    padding: 1.4vh 3vh;
    font-size: 2vh;
    height: 6vh;
    cursor: pointer;
    margin-bottom: 0.3vh;
    font-family: var(--baseFontFamily);
}

.imgWrapper img {
    block-size: 60vh;
    cursor: pointer;
}
.imgWrapper p {
    inline-size: 36vh;
    font-size: 1.25vh;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

.footerSection {
    width: 100dvw;
    height: 10dvh;
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: var(--darkYellow);
    align-items: center;
    justify-content: center;
}

.footerSection p {
    color: var(--lightYellow);
    font-family: var(--baseFontTitles);
    font-size: 7vh;
    text-transform: uppercase;
    margin: 0px;
    line-height: 1;
}

.column {
    flex: 1;
    width: 50%;
    display: inline;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin:0px;
}

.text-center {
    text-align: center;
}

@media (min-width: 1200px) {
    .imgWrapper p {
        font-size: 1.5vh;
    }
    #sectionOne .column.contentWrapper {
        display: grid;
    }
    .headingOne {
        margin-top: 5vh;
    }
}

@media (orientation:portrait) {
    #sectionOne .container {
        height: inherit;
    }
    #sectionOne .imageS {
        position: relative;
        display: block;
        margin-bottom: 10px !important;
        height: 390px;
    }
    #sectionOne .imageS img {
        margin-bottom: 0px;
        block-size: inherit;
        height: 87%;
    }
    
    .row {
        flex-direction: column-reverse;
    }

    .column {
        flex: none;
        width: 100%;
    }
    .imgWrapper img {
        block-size: 30vh;
        cursor: pointer;
        margin: 4vh auto;
    }
    #pageEs .imgWrapper img {
        margin: 4vh 11vw;
    }
    .headingOne {
        text-align: center;
    }
    .headingOne-firstLine,
    .headingOne-secondLine{
        font-size: 8vh;
    }
    #sectionOne .veryImportantParagraph{
        inline-size: 37vh;
        margin: 1vh auto 2vh !important;
        text-align: center;
        font-size: 3vh !important;
    }
    .sectionOne-downloadLinks{
        width: 90%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    #sectionOne  .displayLandscape.small {
        text-align: center;
        margin: 2vh auto;
        width: 90%;
        line-height: 1.2;
        font-size: .75rem;
        color: var(--darkCyan);
    }
    #sectionOne .displayLandscape.small{
        height: 17vh;
        width: 85%;
        font-size: .65rem;
    }
}
