#sectionFour article {
    margin-top: 0vh;
    background:var(--darkCyan);
    color: var(--lightYellow);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

#headingTwoOfSectionFour {
    margin-top: 14vh;
}

.twoColumnsOfSectionFour {
    display: flex;
    margin-block-start: 3vh;
    inline-size: 90vh;
    gap: 5vh;
}

.twoColumnsOfSectionFour h3 {
    font-size: 4.15vh;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    line-height: 0.9;
    color: var(--lightYellow);
    font-weight: 400;
    margin: 0vh 0vw 1vh;
}

.twoColumnsOfSectionFour div {
    inline-size: 20vw;
}

.textSmall {
    inline-size: 70%;
    font-size: 1.2vh;
    margin: 2vh 0vw;
    line-height: 1;
    text-align: left;
}

#sectionFour .imgWrapper p {
    margin: 0 16vh;
}


/*
#fourImage:hover .imgSectionHover {
    left: 27px;
}
*/
@media (min-width: 1200px) {
    .textSmall {
        inline-size: 90%;
        font-size: 1.5vh;
    }
    #sectionFour .imageS {
        display: -webkit-inline-box;
    }
    #sectionFour .imgWrapper p {
        margin: 0 8vh;
    }
}
@media (orientation:portrait) {
    #sectionFour article {
        padding: 2vh 0vw 5vh;
    }

    #sectionFour .headingThree {
        inline-size: auto;
        line-height: .9;
        text-align: center;
        padding-top: 0vh;
        margin-top: 3vh;
        font-family: var(--baseFontTitles);
        font-weight: bold;
        font-size: 5.5vh;
        margin-bottom: 0vh;
    }

    #sectionFour p.displayLandscape {
        width: 69%;
        margin: 0 auto;
    }

    .small {
        text-align: center;
        margin: 2vh auto;
        width: 70%;
        line-height: 1.2;
        font-size: 1rem;
    }
}