@import "./fonts.css";
@import "./animation.css";
@import "./accordion.css";
@import "./modal.css";
@import "./header.css";
@import "./floatBtn.css";
@import "./container_box.css";
@import "./section_one.css";
@import "./section_two.css";
@import "./section_row.css";
@import "./section_three.css";
@import "./section_four.css";
@import "./section_five.css";
@import "./section_six.css";
@import "./footer.css";

:root {
    --darkCyan: #114550;
    --lightYellow: #FFF6D2;
    --darkYellow: #E9993E;
    --aqua: #317C82;
    --baseFontTitles: Tungsten, Helvetica, sans-serif;
    --baseFontFamily: Sintony, Helvetica, sans-serif;
}
::-webkit-scrollbar {display: none;}
::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bgGreen{
    background: var(--darkCyan);
}
.bgLight{
    background: var(--lightYellow);
}
.headingTwo {
    display: flex;
    flex-direction: column;
    font-family: var(--baseFontTitles);
    font-weight: bold;
    font-size: 9vh;
    line-height:.82;
    margin: 0;
}
.veryImportantParagraph {
    font-family: var(--baseFontTitles);
    font-weight: 400;
    font-size: 4vh;
    margin: 0;
    margin-block-end: 2vh;
    line-height: .87;
    text-transform: uppercase;
}

.icon-icon_cotizar:before {
    content: "\e904";
    color: #fff6d2;
}

.icon-apple:before {
    content: "\e902";
}

.icon-android:before {
    content: "\e903";
}

.icon-x:before {
    content: "\e901";
}

.icon-download:before {
    content: "\e900";
}

body {
    background: var(--darkCyan);
    color: var(--darkCyan);
    font: var(--baseText);
    margin: 0;
    font-family: var(--baseFontFamily);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#logoSacbe {
    margin: 0;
    padding: 0;
}

.colorYellow {
    color: var(--darkYellow);
}

.colorCyan {
    color: var(--aqua);
}

.colorLight {
    color: var(--lightYellow);
}

.textUppercase {
    text-transform: uppercase;
}

.displayLandscape {
    display: none;
}

.textCenter {
    text-align: center;
}

em {
    font-style: normal;
    font-weight: bold;
}
p{
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuLinkBlog {
    line-height: 0;
}

ul {
    list-style: none;
    padding: 0vh;
}

a {
    text-decoration: none;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--darkCyan);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.logo {
    width: 800px;
    height: 800px;
    background-image: url('../img/Logo-intro-la-causa.gif');
    background-repeat: no-repeat;
    background-size: contain;
    animation: zoomInLogo 2s forwards;
}

/*DropDown*/

.dropbtn2 {
    background: var(--darkCyan);
    color: var(--lightYellow);
    border: 0.3vh solid var(--darkYellow);
    border-radius: 5vh;
    padding: 1.4vh 3vh;
    font-size: 2vh;
    cursor: pointer;
    margin-bottom: 0.3vh;
    font-family: var(--baseFontFamily);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}


.dropdown-content a {
    color: var(--lightYellow);
    text-decoration: none;
    display: block;
    padding: 1vh;
    font-size: 2vh;
}

.dropdown-content a:hover {
    background-color: var(--darkYellow);
    border-radius: 2vh;
}

.show {
    display: block;
    border-radius: 20px;
    border: 0.3vh solid var(--lightYellow);
    background: var(--darkCyan);
    padding: 1.5vh;
    width: 16vh;
}


#dropDownLight.show{
    border: 0.3vh solid var(--lightYellow);
}

.icon-download {
    margin-left: 0.8vh;
}

i.fa {
    margin-right: 0.5vh;
}

.styleBtn {
    background: var(--darkCyan);
    color: var(--lightYellow);
    border: 0.3vh solid var(--darkYellow);
    border-radius: 5vh;
    padding: 1.4vh 3vh;
    font-size: 2vh;
    cursor: pointer;
    margin-bottom: 0.3vh;
    font-family: var(--baseFontFamily);
}

.styleBtn:hover, .dropbtn:hover, #btnHeader2:hover {
    background-color: var(--lightYellow);
    border: 0.3vh solid var(--darkCyan);
    color: var(--darkCyan);
}

.imageS{
    position: relative;
    display: inline-block;
}

.imgSectionHover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
}

.imageS:hover .imgSectionHover {
    display: inline;
    z-index: 1;
}

@media (orientation:portrait) {
    .dropbtn{
        padding: .25rem .85rem;
        height: 52px;
        font-size: .95rem;
    }
    article{
        margin-top: 5vh;
        height: auto;
    }

    .displayPortrait {
        display: none;
    }

    .displayLandscape {
        display: block;
    }
    
    .footerSection {
        display: none;
    }

    .headingTwo{
        font-size: 6vh;
    }
    .container.row {
        overflow-x: hidden;
        inline-size: 100vw;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 576px) {
    .header-center,.textTop{
        max-width: 90vw;
    }
    .container {
        max-width: 540px;
        height: 90%;
    }
}

@media (min-width: 768px) {
    .header-center,.textTop{
        max-width: 95vw;
    }
    .container {
        max-width: 720px;
        height: 89%;
    }
}

@media (min-width: 992px) {
    .header-center,.textTop{
        max-width: 960px;
    }
    .container {
        max-width: 930px;
        height: 89%;
    }
}

@media (min-width: 1280px) {
    .header-center, .textTop{
        max-width: 80vw;
    }
    .container {
        max-width: 75vw;
        height: 89%;
    }
    .textCenter {
        display: grid;
    }
    .imageS {
        display: grid;
    }
    .imgWrapper img {
        block-size: 60vh;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    .header-center, .textTop{
        max-width: 1350px;
    }

    .container {
        max-width: 1300px;
        height: 89%;
    }
}

@media (min-width: 1920px) {
    .header-center, .textTop{
        max-width: 1440;
    }
    .container {
        max-width: 1400px;
        height: 89%;
    }
}
